# project based
node_modules
*/dist/*
/dist/*
.cache
package-lock.json
yarn.lock
media/
/website/cypress/screenshots/
/website/cypress/videos/
/website/.parcel-cache
__*__
/videos
/alfred/main.json

# compiled output
/tmp
/out-tsc

# dependencies

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.gz

# misc
npm-debug.log
yarn-error.log
testem.log
/typings
/_trash

# System Files
.DS_Store
Thumbs.db

database/

cred.json
cred_api.json
github_key*
output/*
alfred/output/*
alfred/data
alfred/site
alfred.egg*

*.mp3
*.mp4
*.png
*.pdf
*.json
*.jpg
*.edl

.email
.secret_key
.s3

# testing

instrumented/
website/coverage/
website/cypress-coverage/
tests/.nox/
tests/.benchmarks/
tests/reports/

# Virtual environment
.venv
